/*
 * Hexa Flarum Auto-Installer
 *
 * (C) 2017 Hexa Inc, All Rights Reserved.
 *
 * This software is free to use, but has restrictions per the software license.
 */

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
